.screen-header {
  padding: var(--header-space);
  display: flex;
  justify-content: space-between;
}
.screen-header__title {
  font-weight: 600;
  font-size: 28px;
}
.screen-header__icons {
  display: flex;
  align-items: center;
}

.screen-header__icons i {
  margin-left: 18px;
}
